
snippet syn "Vim Syntastic support" b
plugins {
    id "com.scuilion.syntastic" version "0.3.8"
}
endsnippet

snippet pg "PostgreSQL" b
compile group: 'postgresql', name: 'postgresql', version: '9.0-801.jdbc4'
endsnippet

